/************************** NavBar **************************/

ul a
{
    color: #fff!important;
    font-size: 14px!important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu 
{
    border-color: #fff!important;
    background-color: transparent!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #e5eef3bf!important;
}

.dropdown-item:focus, .dropdown-item:hover 
{
    background-color: #0554F2!important;
}

/************************** Banner **************************/

#banner
{
    background-image: url(assets/Banniere.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 38rem;
}

#banner .row
{
    margin: 0!important;
    padding: 0!important;
    text-decoration: none;
    list-style: none;
}

#text-left h1
{
    font-family: 'HelveticaNeue-CondensedBlack';
    font-size: 50px!important;
    color: #FFFFFF;
    letter-spacing: 2.75px;
}

.find_button
{
    background: #FFFFFF!important;
    font-family: 'HelveticaNeue-CondensedBlack';
    font-size: 14px!important;
    letter-spacing: 0.9px;
    margin-top: 1rem!important;
}

/************************** HomeIcons **************************/

.home_icon_text
{
    font-family: 'HelveticaNeue-CondensedBold';
    font-size: 20px;
    color: #000;
    letter-spacing: 0;
    text-align: center;
}


/************************** MediaQueries **************************/

@media (max-width: 992px)
{
    /**************** NavBar ****************/

    .navbar-expand-lg .navbar-nav .dropdown-menu 
    {
        border: none;
    }

    /**************** Banner ****************/

    .connected_button {
        margin-left: -18px;
    }
}
