/************************** General **************************/
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

p
{
    margin: 0!important;
    padding: 0!important;
    font-family: 'HelveticaNeue-Medium';
}

.alert 
{
    position: absolute;
    margin-bottom: 0!important;
    z-index: 2;
    width: 100%;
}

/************************** NavBar **************************/

ul a
{
    color: #fff!important;
    font-size: 14px!important;
}

.navbar-expand-lg .navbar-nav .navTransparent
{
    border-color: #fff!important;
    background-color: transparent!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #e5eef3bf!important;
}

.dropdown-item:focus, .dropdown-item:hover 
{
    background-color: #5CAFED!important;
}

nav#navbar_bleu
{
    background-image: linear-gradient(228deg, #001E5A 0%, #67C1FF 100%);
}

/************************** Banner **************************/

#banner
{
    background-image: url(assets/Banniere.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 38rem;
}

#banner .row
{
    margin: 0!important;
    padding: 0!important;
    text-decoration: none;
    list-style: none;
}

#text-left h1
{
    font-family: 'HelveticaNeue-CondensedBlack';
    font-size: 50px!important;
    color: #FFFFFF;
    letter-spacing: 2.75px;
}

.find_button
{
    background: #FFFFFF!important;
    font-family: 'HelveticaNeue-CondensedBlack';
    font-size: 14px!important;
    letter-spacing: 0.9px;
    margin-top: 1rem!important;
    color: #5CAFED!important;
}

/************************** HomeIcons **************************/

section#homeIcon 
{
    margin-top: 7rem!important;
    margin-bottom: 7rem;
}

.home_icon_text
{
    font-family: 'HelveticaNeue-CondensedBold';
    font-size: 20px;
    color: #000;
    letter-spacing: 0;
    text-align: center;
}

/************************** Actualités **************************/

#Actualités h2
{
    font-family: 'HelveticaNeue-CondensedBlack';
    font-size: 40px!important;
    letter-spacing: 0.9px;
}

.card-style
{
    border: none!important;
}

.carousel-indicators
{
    top: 21rem!important;
}

.carousel-indicators li
{
    background-color: grey!important;
    width: 12px!important;
    height: 12px!important;
    border-radius: 50%!important;
    opacity: 0.15!important;
}

.carousel-indicators .active
{
    background-color: #5CAFED!important;
    opacity: 1!important;
}

.date-card
{
    font-family: 'HelveticaNeue-Medium';
    font-size: 16px;
    color: #807465;
    line-height: 28px;
}

.card-body
{
    padding-left: 0!important;
}

.card-description
{
    padding-left: 0!important;
    font-weight: bold;
    font-size: 20px;
    color: #2F281E;
    line-height: 34px;
}

.card-description-orange
{
    color: #5CAFED!important;
}

img.card-img-top 
{
    border-radius: 0.80rem 0.80rem 0rem 0rem;
    cursor: pointer;
}

/************************** LoginPage **************************/

.form_bg
{
    display: flex;
    align-items: center;
}

.form_horizontal
{
    text-align: center;
}

#form_container
{
    margin-top: 15vh;
}

.form_horizontal .form_icon
{
    font-size: 100px;
    line-height: 85px;
    margin: 0 0 13px;
    color: #222;
}

.form_horizontal .title 
{
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 35px 0;
    font-family: 'HelveticaNeue-Medium';
    color: #5CAFED;
}

.form_horizontal .form_group
{
    margin: 0 0 10px;
    position: relative;
}

.form_horizontal .input-icon
{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #5CAFED;
}

.form_horizontal .form-control
{
    color: #000;
    background-color: #e9ecef;
    font-size: 13px;
    letter-spacing: 1px;
    height: 37px;
    padding: 2px 15px 2px 35px;
    border: none;
    border-radius: 50px;
}

.form_horizontal .form-control::placeholder
{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    text-transform: capitalize;
}

.form_horizontal .btn
{
    color: #FFF;
    background-color: #222;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}

.form_horizontal .btn:hover {
    color: #5CAFED;
    text-decoration: none;
}

#form_container
{
    margin-top: 20vh;
}

/************************** ProfilPage **************************/

#profilBanner
{
    background-color: lightgrey;
}

#profilBanner img
{
    max-width: 100%!important;
    opacity: 0;
}

#ProfiBar 
{
    height: 3rem;
}


#UserImage
{
    width: 150px;
    height: 150px;
    background-color: grey;
    /*background-image: ;*/
    background-size: cover;
    background-position: center;
    margin-left: 12%;
    margin-bottom: 5.2rem;
    border: 2px solid #343a40;
    border-radius: 50%;
}

#profilPseudo
{
    font-family: 'HelveticaNeue-CondensedBold'!important;
    color: #5CAFED;
}

#profilTitle
{
    font-family: 'HelveticaNeue-Medium';
    font-size: 1.3rem;
}

#ProfilFormBtn
{
    background-color: #5CAFED;
    border: none;
    color: #fff;
    opacity: 1;
}

#profilSessionInfos
{
    color: #5CAFED;
}

#ProfilCommentaire
{
    border: 2px solid #5CAFED!important;
    background-color: #f0f4f7;
}

/************************** MediaQueries **************************/

@media (max-width: 992px)
{
    /**************** NavBar ****************/

    .navbar-expand-lg .navbar-nav .dropdown-menu 
    {
        border: none;
    }

    .navbar-expand-lg .navbar-nav .navBlack
    {
        background-color: transparent!important;
    }

    /**************** Banner ****************/

    .connected_button {
        margin-left: -18px;
    }

    /**************** Actualités ****************/

    .card-description
    {
        padding: 0!important;
    }

    .card-body 
    {
        padding-right: 0!important;
    }

    .carousel-indicators
    {
        top: 62rem!important;
    }

}

@media (max-width: 768px)
{
    #form_container
    {
        margin-top: 5vh;
    }

    #UserImage
    {
        width: 125px!important;
        height: 125px!important;
        margin-bottom: 4rem;
    }

    #ProfiBar p
    {
        font-size: 0.9rem!important;
    }
}

@media (min-width: 768px)
{
    /**************** LoginPage ****************/
    #separation
    {
        height: 65vh;
        position: relative;
        border: 0.5px solid lightgrey;
        right: 50%;
        top: 14vh;
    }

    #profilInfosContainer
    {
        width: 300px!important;
    }

}

@media screen and (max-width: 475px)
{
    #UserImage
    {
        width: 100px!important;
        height: 100px!important;
        margin-bottom: 3rem;
        margin-left: 5%;
    }

    #ProfiBar p
    {
        font-size: 0.8rem!important;
        margin-left: 1.5rem!important;
    }
}

@media screen and (max-width: 415px)
{
    /**************** HoemIcons ****************/
    #home_icon_img {
        flex: 0 0 90%!important;
        max-width: 90%!important;
    }

    /**************** LoginPage ****************/
    #form_container
    {
        margin-top: 5vh;
    }

    .form_horizontal .form_icon 
    {
        font-size: 80px;
    }

    .form_horizontal .title 
    {
        font-size: 20px;
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 375px)
{
    /**************** Actualités ****************/
    .card-description 
    {
        font-size: 18px!important;
        line-height: 28px!important;
    }

    #UserImage
    {
        width: 85px!important;
        height: 85px!important;
        margin-bottom: 2rem;
        margin-left: 5%;
    }

    #ProfiBar p
    {
        font-size: 0.7rem!important;
        margin-left: 1.2rem!important;
    }
    
}
